.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #252525;

  }
  
  .section {
    margin-bottom: 20px;
    filter: invert(100%); 
  }
  
  img {
    max-width: 100%;
    height: auto;

  }
  
  .copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  .paragraph {
    text-align: center;
  }