.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.textContainer {
  max-width: 50%;
}

.imageContainer {
  max-width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: red;
}
.section {
  max-width: 1300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h1 {
  margin: 0;
  color: black(128, 128, 128, 0.9);
}

.cardWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
  
}
